<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all the headings with class 'link'
    const headings = document.querySelectorAll('header.major h3 a.link');

    // Iterate over each heading
    headings.forEach(function(heading) {
      // Match "Program" followed by a number and the colon
      const regex = /(Program \d+:)/;
      const text = heading.innerHTML;

      // Check if the regex matches
      if (regex.test(text)) {
        // Replace the matched part with a span that has dark grey color, uppercase, and adjusted font size
        heading.innerHTML = text.replace(regex, function(match) {
          return `<span style="color: #666; text-transform: uppercase; font-size: 50%">${match}</span>`;
        });
      }
    });
  });
  
 
</script>




<!-- Menu -->
<nav id="menu">
	<p>Coaching Programs:</p>
    <ul class="links">
        {% assign sorted_pages = site.html_pages | where: "nav-menu", true | sort: "weight" %}

        {% for page in sorted_pages %}
            <li {% if page.title contains "About Gagan" %}class="spaced-item"{% endif %}>
                <a href="{{ page.url | absolute_url }}">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}

        <!-- Manually add Contact Me at the end -->
        <li><a href="#contact" class="next scrolly">Message Me</a></li>
    </ul>
</nav>
