<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all the headings with class 'link'
    const headings = document.querySelectorAll('header.major h3 a.link');

    // Iterate over each heading
    headings.forEach(function(heading) {
      // Match "Program" followed by a number and the colon
      const regex = /(Program \d+:)/;
      const text = heading.innerHTML;

      // Check if the regex matches
      if (regex.test(text)) {
        // Replace the matched part with a span that has dark grey color, uppercase, and adjusted font size
        heading.innerHTML = text.replace(regex, function(match) {
          return `<span style="color: #666; text-transform: uppercase; font-size: 50%">${match}</span>`;
        });
      }
    });
  });
  
 
</script>




<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
</nav>
