/* Default button styling */
.masthead_button {
  border: 1px solid _palette(brand-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 14.9333px;
  font-weight: 600;
  letter-spacing: 3.73333px;
  padding: 0 2.5em;
  height: 3.5em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  
  color: _palette(brand-color); /* Default text color */
  background-color: transparent; /* Transparent background */
  box-shadow: none; /* No shadow */
}

.masthead_button .arrow svg {
  width: 16px; /* Set width for the arrow */
  height: 16px; /* Set height for the arrow */
  margin-left: 8px; /* Add space between text and arrow */
}


.masthead_button:hover {
  background-color: transparent; /* Hover background color */
  color: #FFF; /* Change text color on hover */
  border-color: #FFF !important;  /* Change border color on hover */
}

.masthead_button:active {
  background-color: rgba(255, 255, 255, 0.4) !important; /* Active background color is 80 opacity*/
  color: _palette(accent3) !important; /* Active text color */
  border-color: _palette(accent3); /* Change border color */
}

.masthead_button .arrow svg path {
  stroke: _palette(brand-color); /* Default arrow color */
  fill: none; /* Ensure the arrow has no fill */
}

.masthead_button:hover .arrow svg path {
  stroke: #FFF; /* Change arrow color on hover */
}

.masthead_button:active .arrow svg path {
  stroke: _palette(accent3); /* Keep the same arrow color on active */
}



/* General button styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  border: 1px solid _palette(highlight); /* Adding 1px solid border with highlight color */
  background-color: transparent;
  color: _palette(highlight);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 14.9333px;
  font-weight: 600;
  letter-spacing: 3.73333px;
  padding: 0 2.5em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: none; /* Remove border effect */
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  display: inline-block; /* Ensure buttons only take up necessary width */
  padding: 10px 20px; /* 10px top/bottom, 20px left/right */
  width: auto; /* Remove any forced full-width behavior */
  min-width: max-content; /* Ensure button is at least as wide as its content */
  text-align: center; /* Center the text */
  border: 1px solid #000; 
  cursor: pointer; /* Ensure button pointer */
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  background-color: _palette(brand-color);
  color: #FFF !important;
   border-color: #060606 !important; 
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: _palette(accent3) !important;
  border: 1px solid _palette(accent3) !important;
}
